<!--

<div class="dashboard-container">


  <aside class="sidebar">

    <h2>Menú</h2>

    <nav>

    
      <a routerLink="/dashboard" routerLinkActive="active">🏠 Dashboard</a>

     
      <a *ngIf="usuario?.rol_id === 1"
         routerLink="/gestion-usuarios"
         routerLinkActive="active">
         👥 Gestión de Usuarios
      </a>

      <button class="logout" (click)="logout()">🚪 Cerrar Sesión</button>
    </nav>

  </aside>


  <main class="content">
    <h1>Bienvenido, {{ usuario?.nombre_usuario }}</h1>
    <p>Aquí irá el contenido de tu dashboard.</p>
  </main>

</div>
Barra lateral -->